<div id="about" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInDown">
        <h2 class="content-title">{{ 'ld.home.about.title'|trans }}</h2>
        <p class="content-desc">
            {{ 'ld.home.about.description'|trans|nl2br }}
        </p>
        <!-- begin row -->
        <div class="row">
            {#<!-- begin col-4 -->#}
            {#<div class="col-md-4 col-sm-6">#}
                {#<!-- begin about -->#}
                {#<div class="about">#}
                    {#<h3>Nuestra Historia</h3>#}
                    {#<p>#}
                        {#Nuestra empresa surge desde el Proyecto Final Universitario de nuestra#}
                        {#carrera, Ingeniería en Sistemas de Información. #}
                    {#</p>#}
                    {#<p>#}
                    {#</p>#}
                {#</div>#}
                {#<!-- end about -->#}
            {#</div>#}
            {#<!-- end col-4 -->#}
            {#<!-- begin col-4 -->#}
            {#<div class="col-md-4 col-sm-6">#}
                {#<h3>Nuestra Filosofía</h3>#}
                {#<!-- begin about-author -->#}
                {#<div class="about-author">#}
                    {#<div class="quote bg-silver">#}
                        {#<i class="fa fa-quote-left"></i>#}
                        {#<h3>Trabajamos enfocados en<br /><span>hacerlo más simple</span></h3>#}
                        {#<i class="fa fa-quote-right"></i>#}
                    {#</div>#}
                    {#<div class="author">#}
                        {##}
                        {#<div class="info">#}
                            {#Guillermo Tala#}
                            {#<small>Desarrollador</small>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<!-- end about-author -->#}
            {#</div>#}
            {#<!-- end col-4 -->#}
            {#<!-- begin col-4 -->#}
            {#<div class="col-md-4 col-sm-12">#}
                {#<h3>Nuestra experiencia</h3>#}
                {#<!-- begin skills -->#}
                {#<div class="skills">#}
                    {#<div class="skills-name">Front End</div>#}
                    {#<div class="progress progress-striped">#}
                        {#<div class="progress-bar progress-bar-success" style="width: 95%">#}
                            {#<span class="progress-number">95%</span>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="skills-name">Programación</div>#}
                    {#<div class="progress progress-striped">#}
                        {#<div class="progress-bar progress-bar-success" style="width: 90%">#}
                            {#<span class="progress-number">90%</span>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="skills-name">Diseño de Base de Datos</div>#}
                    {#<div class="progress progress-striped">#}
                        {#<div class="progress-bar progress-bar-success" style="width: 80%">#}
                            {#<span class="progress-number">80%</span>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<!-- end skills -->#}
            {#</div>#}
            {#<!-- end col-4 -->#}

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-kFMGHxdpoQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>