<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">Contactanos</h2>
        <p class="content-desc">
            Creemos que la comunicación es algo primordial entre nosotros y nuestros clientes,<br />
            por eso, aquí encontrarás todos los datos de contacto.
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                
                <p>
                    <strong>EZ Blockchain</strong><br />
                    Medrano 950<br />
                    CABA<br />
                    Tel: 49023645<br />
                </p>
                <p>
                    <span class="phone">+1126453721</span><br />
                    <a href="mailto:ez.blockchain.utn@gmail.com">ez.blockchain.utn@gmail.com</a>
                </p>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Nombre <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Mensaje <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9 text-left">
                            <button type="submit" class="btn btn-theme btn-block">Enviar mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>