<div id="footer" class="footer">
    <div class="container">
        <div class="footer-brand">
            E-Z Blockchain
        </div>
        <p>
            &copy; Copyright E-Z Blockchain 2018 <br />
            A middleware for Blockchain. Created by <a href="#">EzBc Team</a>
        </p>

    </div>
</div>