<div id="footer" class="footer">
    <div class="container">
        <div class="footer-brand">
            <div class="footer-brand-logo"></div>
            Easy Block Chain
        </div>
        <p>
            &copy; Copyright Easy Block Chain 2018 <br />
            A middleware for Block Chain. Created by <a href="#">EzBc Team</a>
        </p>

    </div>
</div>