<div id="home" class="content has-bg home">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="{{ asset('img/landing/bg/bg-home.jpg') }}" alt="Home" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container home-content">
        <h1>Welcome to Easy Block Chain</h1>
        <h3>The easiest way to use Block Chain</h3>
        <p>
            We have created a multi-purpose theme that take the form of One-Page or Multi-Page Version.<br />
            Use our <a href="#">theme panel</a> to select your favorite theme color.
        </p>
        <a href="#about" class="btn btn-theme">Explore More</a> <a href="#pricing" class="btn btn-outline">Purchase Now</a><br />
        <br />
        {#or <a href="#">subscribe</a> newsletter#}
    </div>
    <!-- end container -->
</div>