<div id="pricing" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">Nuestros Planes</h2>
        <p class="content-desc">
        Elige el plan que mejor se adapte a tus necesidades.
        </p>
            
        </p>
        <!-- begin pricing-table -->
        <ul class="pricing-table col-4">
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Free</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">FREE</span>
                            <span class="price-tenure">válido por un mes</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>Block Chain Test Net</li>
                        <li>Ideal para medir el nivel de transacciones</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <div class="footer">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-theme btn-block">Suscribite ahora</a>
                    </div>
                </div>
            </li>
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Basic</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$0</span>
                            <span class="price-tenure">sin costo mensual</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>Abonás lo que consumís</li>
                        <li>50 centavos dólar por cada transacción</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <div class="footer">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-theme btn-block">Suscribite ahora</a>
                    </div>
                </div>
            </li>
            {#<li class="highlight" data-animation="true" data-animation-type="fadeInUp">#}
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Premium</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$400</span>
                            <span class="price-tenure">dólares por mes</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>1000 transacciones garantizadas</li>
                        <li>43 centavos dólar por transacción extra</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <div class="footer">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-theme btn-block">Suscribite ahora</a>
                    </div>
                </div>
            </li>
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Exclusive</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$1850</span>
                            <span class="price-tenure">dólares por mes</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>5000 transacciones garantizadas</li>
                        <li>40 centavos dólar por transacción extra</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <div class="footer">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-theme btn-block">Suscribite ahora</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- end container -->
</div>