<div id="pricing" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">Nuestros Planes</h2>
        <p class="content-desc">
        Te damos 1 mes de prueba utilizando el plan free para que muedas medir tus necesidades. 
        </p>
            
        </p>
        <!-- begin pricing-table -->
        <ul class="pricing-table col-4">
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Free</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">FREE</span>
                            <span class="price-tenure">durante el primer mes</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>Operá en Test Net</li>
                        <li>500 request por mes sin request extras</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <div class="footer">
                        <a href="#" class="btn btn-theme btn-block">Suscribite ahora</a>
                    </div>
                </div>
            </li>
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Basic</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$0</span>
                            <span class="price-tenure">por mes</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>Abonás lo que consumís</li>
                        <li>30% de comisión por request realizado*</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <div class="footer">
                        <a href="#" class="btn btn-theme btn-block">Suscribite ahora</a>
                    </div>
                </div>
            </li>
            {#<li class="highlight" data-animation="true" data-animation-type="fadeInUp">#}
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Premium</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$1430</span>
                            <span class="price-tenure">por mes</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>10000 request por mes</li>
                        <li>7% de comisión por request extra*</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <div class="footer">
                        <a href="#" class="btn btn-theme btn-block">Suscribite ahora</a>
                    </div>
                </div>
            </li>
            <li data-animation="true" data-animation-type="fadeInUp">
                <div class="pricing-container">
                    <h3>Exclusive</h3>
                    <div class="price">
                        <div class="price-figure">
                            <span class="price-number">$13650</span>
                            <span class="price-tenure">por mes</span>
                        </div>
                    </div>
                    <ul class="features">
                        <li>100000 request por mes</li>
                        <li>3% de comisión por request extra*</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <div class="footer">
                        <a href="#" class="btn btn-theme btn-block">Suscribite ahora</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- end container -->
</div>