<div class="right-content">
    <!-- begin register-header -->
    <h1 class="register-header">
        Felicitaciones, ya tenés tu cuenta en E-Z Blockchain!
        <small>Go to the login page to start using block chain.</small>
    </h1>
    <!-- end register-header -->
    <!-- begin register-content -->
    <div class="register-content">
        <div class="register-buttons">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-block btn-lg">{{ 'log.in'|trans }}</a>
        </div>
        <hr />
        <p class="text-center">
            &copy; E-Z Blockchain All Right Reserved 2018
        </p>
    </div>
    <!-- end register-content -->
</div>