{% extends "layout_login.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'registration.confirmed'|trans }}{% endblock %}

{% block content %}
    <!-- begin register -->
    <div class="register register-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image" style="background-image: url({{ asset('img/admin/register/register.jpg') }})"></div>
            <div class="news-caption">
                <h4 class="caption-title"><b>Color</b> Admin App</h4>
                <p>
                    Having an account you'll be able to see all your transactions on the Blockchain you choose.
                </p>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->

        {% include 'default/Registration/register_confirmed.html.twig' %}
        <!-- end right-content -->
    </div>
    <!-- end register -->
{% endblock %}