<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a href="{{ path('backend_dashboard') }}" class="navbar-brand"><span class="navbar-logo"></span> <b>E-Z</b> Block Chain</a>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- end navbar-header -->

    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">
        {#<li>#}
            {#<form class="navbar-form">#}
                {#<div class="form-group">#}
                    {#<input type="text" class="form-control" placeholder="{{ 'enter.keyboard'|trans }}" />#}
                    {#<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>#}
                {#</div>#}
            {#</form>#}
        {#</li>#}

        <!-- begin header notifications -->
        {#{{ include('backend/header_notifications.html.twig') }}#}
        <!-- end header notifications -->

        <!-- begin headerusers -->
        {{ include('backend/header_user.html.twig') }}
        <!-- end header users -->
    </ul>
    <!-- end header navigation right -->
</div>