{% extends "layout_login.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'Login'|trans }}{% endblock %}

{% block content %}
    <!-- begin login -->
    <div class="login login-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image" style="background-image: url({{ asset('img/admin/login/login.jpg') }})"></div>
            <div class="news-caption">
                <h4 class="caption-title"> <b>E-Z Blockchain App</b> </h4>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        {{ include('default/Security/login_content.html.twig') }}
        <!-- end right-container -->
    </div>
    <!-- end login -->
{% endblock %}