{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'wallet.edit'|trans }}{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Navigation:sidebarComponent', { 'currentItem': 'wallet' })) }}
{% endblock %}

{% block page_header %}
    Edit Wallet <small>fill out the form.</small>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- begin col-8 -->
        <div class="col-lg-8">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">Wallet Form</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                {{ include('@App/Wallet/form.html.twig') }}
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-8 -->
    </div>
{% endblock %}
