{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'user.index'|trans }}{% endblock %}

{% block page_header %}
    Users <small>all users.</small>
{% endblock %}

{% block content %}
    <div class="row">
    </div>
{% endblock %}
